<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pilot Logbook Dashboard</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>


  <header>
    <h1>Welcome, <%= user.username %>!</h1>
    <h2>Total Time: <span id="totalTimeValue"></span> Hours</h2>
  </header>
  <main class="dashboard">
    
    <section class="add-entry">
      <h2>Add Flight Entry</h2>
      <form action="/add-entry" method="post">
        <input type="hidden" id="username" name="username" value=<%= user.username %>>
        <input type="hidden" id="password" name="password" value=<%= user.password %>>
        <label for="aircraftType">Aircraft Type:</label>
        <select id="aircraftType" name="aircraftType" required>
          <% for (const type of AircraftTypes) { %>
            <option value="<%= type.id %>"><%= type.id %></option>
          <% } %>
        </select>
        <br>
        <label for="tailNumber">Tail Number:</label>
        <input type="text" id="tailNumber" name="tailNumber" required>
        <br>
        <label for="entryDate">Date:</label>
        <input type="date" id="entryDate" name="entryDate" required>
        <br>
        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" required>
        <br>
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" required>
        <br>
        <label for="time">Total Time:</label>
        <input id="time" name="time" pattern="^[0-9]+(\.[0-9]+)?$" title="Please enter a valid decimal number" required>
        <button type="submit">Add Entry</button>

      </form>
    </section>

    <section class="add-aircraft">
      <h2>Add Aircraft Model</h2>
      <form action="/add-aircraft" method="post">
        <input type="hidden" id="username" name="username" value=<%= user.username %>>
        <input type="hidden" id="password" name="password" value=<%= user.password %>>
        <label for="make">Make:</label>
        <input type="text" id="make" name="make" required>
        <br>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="type">Type:</label>
        <select id="type" name="type" required>
          <% for (const type of TypeInfo) { %>
            <option value="<%= type.id %>"><%= type.id %></option>
          <% } %>
        </select>
        <br>
        <button type="submit">Add Aircraft</button>
      </form>
    </section>

    <section class="view-entries">
      <h2>View Recent Entries</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Aircraft Type</th>
            <th>Tail Number</th>
            <th>Origin</th>
            <th>Dest</th>
            <th>Total Time</th>
          </tr>
        </thead>
        <tbody>
          <%
            let count = 0
            for (const ent of entry) { 
              count++
              if (count > 8) {
                break
              } %>
            <tr>
              <td><%= formatDate(ent.date) %></td>
              <td><%= ent.aircraft_type %></td>
              <td><%= ent.tail_num %></td>
              <td><%= ent.origin %></td>
              <td><%= ent.dest %></td>
              <td><%= ent.total_time %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
    <section class="lookup-entries">
    <h2>Lookup Entries</h2>

    <form action="export-type" method="post">
      <input type="hidden" id="username" name="username" value= <%= user.username %> >
      <label for="aircraftTypeDropdown">Aircraft Type:</label>
      <select id="aircraftTypeDropdown" name="aircraftTypeDropdown" required>
        <% for (const type of AircraftTypes) { %>
          <option value="<%= type.id %>"><%= type.id %></option>
        <% } %>
      </select>
      <button type="submit">Lookup Type</button>
    </form>

    <form action="export-model" method="post">
      <input type="hidden" id="username" name="username" value=<%= user.username %> >
      <label for="modelTypeDropdown">Model Type:</label>
      <select id="modelTypeDropdown" name="modelTypeDropdown" required>
        <% for (const type of TypeInfo) { %>
          <option value="<%= type.id %>"><%= type.id %></option>
        <% } %>
      </select>
      <button type="submit">Lookup Model</button>
    </form>
    <form action="export-csv" method="post">
      <input type="hidden" id="username" name="username" value=<%= user.username %> >
      <label>Export All Entries as a CSV</label>
      <button type="submit">Export Entries</button>
    </form>

    <div id="lookupResults"></div>
  </section>
  </main>
</body>
<form action="/" method="get">
      <button type="submit">Logout</button>
    </form>
<script>
  function getTotalTime() {
    let value = 0.0
    <% for (const ent of entry) { %>
      
            value += <%= ent.total_time %>
          <% } %>
      return value;
    }
    // Get the h2 element
    var h2Element = document.querySelector('h2');

    // Call the getTotalTime function and set the result in the <span> element
    var totalTimeValueElement = document.getElementById('totalTimeValue');
    totalTimeValueElement.textContent = getTotalTime();
  </script>


<%

function formatDate(dateString) {
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  const formattedDate = new Date(dateString).toLocaleDateString('en-US', options);
  return formattedDate;
}
%>
</html>

